* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header {
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
}

.header-a {
  color: black;
}

button {
  background: none;
  border: none;
}

.header-button {
  display: none;
}

.header-nav {
  display: none;
}

.header-logo {
  width: 72px;
  height: 19px;
  margin-left: 24px;
}

.burger-header {
  margin-right: 24px;
  width: 25px;
  height: 25px;
}

.nav-ul-header {
  display: flex;
}

.header-li-4 {
  margin: 0 22px;
}

.header-li-2 {
  margin: 0 22px;
}

.main-div-white-side {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.h1-main-one {
  font-size: 40px;
}

.p-main-1 {
  margin-top: 24px;
  font-size: 22px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 380px;
  margin: auto;
  padding-top: 24px;
}

.div-main-lain-one-laters {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.main-button-and-p {
  width: 327px;
  margin: auto;
  padding-top: 24px;
}

.main-button-1 {
  background-color: black;
  color: white;
  padding: 12px 24px 12px 24px;
  border-radius: 32px;
  margin-bottom: 16px;
  cursor: pointer;
}

.photo-main-1-375px {
  width: 327px;
  height: 309px;
  margin: auto;
  margin-top: 24px;
}

.photo-main-1-744px {
  display: none;
}

.photo-main-1-1024px {
  display: none;
}

.photo-main-1-1440px {
  display: none;
}

.features {
  background-color: #f3f3f3;
  margin-top: 24px;
}

.feature-ones {
  background-color: #f3f3f3;
  width: 327px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.box-feature-one {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 24px;
}

.feature-one {
  display: flex;
  align-items: center;
  margin: auto;
}

.feature-one-h {
  margin-left: 16px;
  font-size: 18px;
}

.feature-one-p {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 10px;
  font-size: 16px;
}

.box-feature-two {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 48px;
}

.feature-two {
  display: flex;
  align-items: center;
  margin: auto;
}

.feature-two-h {
  margin-left: 16px;
  font-size: 18px;
}

.feature-two-p {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 10px;
  font-size: 16px;
}

.box-feature-three {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 24px;
}

.feature-three {
  display: flex;
  align-items: center;
  margin: auto;
}

.feature-three-h {
  margin-left: 16px;
  font-size: 18px;
}

.feature-three-p {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 10px;
  font-size: 16px;
}

.main-div-black-side {
  background-color: black;
  text-align: center;
}

.img-blackside-1 {
  width: 327px;
  height: 195px;
  margin-top: 24px;
}

.img-blackside-1-744px {
  display: none;
}

.img-blackside-1-1024px {
  display: none;
}

.img-blackside-1-1440px {
  display: none;
}

.blackside-latters {
  max-width: 300px;
  margin: auto;
}

.h-blackside-1 {
  color: white;
  margin-top: 16px;
  font-size: 16px;
}

.blackside-latters-p {
  width: 300px;
  margin: auto;
}

.blackside-p-1 {
  color: white;
  font-size: 16px;
  margin-top: 20px;
}

.blackside-p-2-lain-1 {
  color: white;
  margin-top: 20px;
  font-size: 16px;
}

.blackside-p-2-lain-2 {
  color: white;
  margin-top: 8px;
  font-size: 16px;
}

.blackside-p-2-lain-3 {
  color: white;
  margin-top: 8px;
  font-size: 14px;
}

.blackside-p-2-lain-4 {
  color: white;
  margin-top: 8px;
  font-size: 14px;
}

.last-photo-375px {
  margin-top: 24px;
  margin-bottom: 26px;
}

.last-photo-744px {
  display: none;
}

.last-photo-1024px {
  display: none;
}

.last-photo-1440px {
  display: none;
}

footer {
  background-color: black;
  display: flex;
  flex-direction: column;
}

.footer-logo {
  width: 101px;
  height: 27px;
  margin: auto;
}

.footer-latters {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.footer-latters-lain-1 {
  width: 80px;
  margin-left: 30px;
}

.footer-h-1 {
  color: white;
  font-size: 16px;
  margin-bottom: 16px;
}

.li-footer-1 {
  margin: 8px 0;
}

.footer-a {
  color: white;
  font-size: 14px;
}

.footer-latters-lain-2 {
  width: 200px;
  padding-bottom: 122px;
  padding-left: 60px;
}

.footer-h-2 {
  color: white;
  font-size: 16px;
  margin-bottom: 16px;
}

.li-footer-1-last {
  margin-top: 8px;
}

.footer-a {
  color: white;
  font-size: 14px;
}
.footer-h-3 {
  color: white;
  margin-bottom: 16px;
}

.footer-latters-lain-3 {
  width: 80px;
}

.last-latter-footer {
  display: none;
}

@media all and (min-width: 744px) {
  .burger-header {
    display: none;
  }

  .header-button {
    display: inline;
    background-color: black;
    color: white;
    padding: 12px 24px;
    border-radius: 26px;
    cursor: pointer;
    margin-right: 24px;
  }

  .header-nav {
    display: flex;
  }

  .p-main-1 {
    font-size: 22px;
  }

  .main-button-and-p {
    width: 100%;
    padding-bottom: 24px;
  }

  .photo-main-1-375px {
    display: none;
  }

  .photo-main-1-744px {
    display: block;
    width: 696px;
    height: 499px;
    margin: auto;
  }

  .feature-ones {
    width: 744px;
  }

  .img-blackside-1 {
    display: none;
  }

  .img-blackside-1-744px {
    display: block;
    margin: auto;
    padding-top: 24px;
  }

  .h-blackside-1 {
    font-size: 28px;
  }

  .blackside-latters {
    max-width: 696px;
  }

  .blackside-latters-p {
    width: 550px;
  }

  .last-photo-375px {
    display: none;
  }

  .last-photo-744px {
    display: block;
    padding-top: 24px;
    margin: auto;
  }

  .footer-latters {
    justify-content: flex-start;
  }

  .footer-logo {
    margin-left: 22px;
    margin-top: 25px;
  }

  .footer-latters-lain-2 {
    padding-left: 130px;
    padding-bottom: 73px;
  }

  .footer-latters-lain-3 {
    margin-left: 130px;
  }
}

@media all and (min-width: 1024px) {
  header {
    margin-bottom: 44px;
  }

  .header-li-2 {
    margin: 0 44px;
  }

  .header-li-4 {
    margin: 0 44px;
  }

  .h1-main-one {
    font-size: 56px;
  }

  .h1-p-main {
    max-width: 630px;
    margin: auto;
  }

  .main-button-and-p {
    display: flex;
    align-items: center;
    width: max-content;
    margin-bottom: 20px;
  }

  .main-button-1 {
    margin-bottom: 0;
    font-size: 16px;
  }

  .p-main-2 {
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
  }

  .photo-main-1-744px {
    display: none;
  }

  .photo-main-1-1024px {
    display: block;
    width: 960px;
    height: 450px;
    margin: auto;
  }

  .feature-ones {
    background-color: #f3f3f3;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .features {
    height: 259px;
    display: flex;
    align-items: center;
  }

  .box-feature-two {
    padding: 0;
    text-align: start;
    max-width: 280px;
  }

  .box-feature-three {
    padding: 0;
    text-align: start;
    max-width: 280px;
  }

  .box-feature-one {
    padding: 0;
    text-align: start;
    max-width: 280px;
  }

  .img-blackside-1-744px {
    display: none;
  }

  .img-blackside-1-1024px {
    display: block;
    margin: auto;
    padding-top: 32px;
  }

  .blackside-latters {
    max-width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding-top: 48px;
  }

  .div-h-blackside-1 {
    max-width: 415px;
    text-align: start;
  }

  .blackside-latters-p {
    max-width: 420px;
    margin: 0;
    padding-left: 90px;
    text-align: start;
  }

  .blackside-photo-latters {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
  }

  .last-photo-744px {
    display: none;
  }

  .last-photo-1024px {
    display: block;
    margin: auto;
  }

  .footer-latters-lain-2 {
    margin-left: 160px;
    padding-bottom: 73px;
  }

  .footer-latters-lain-3 {
    margin-left: 250px;
    padding-bottom: 73px;
  }

}

@media all and (min-width: 1440px) {
  .header-li-2 {
    margin: 0 24px;
  }

  .header-li-4 {
    margin: 0 24px;
  }

  .main-div-white-side {
    display: flex;
    flex-direction:row;
    text-align: 0;
    justify-content: space-around;
    margin-bottom: 64px;
  }

  .photo-main-1-1024px {
    display: none;
  }

  .photo-main-1-1440px {
    display: inline-block;
  }

  .h1-p-main {
    max-width: 490px;
    text-align: start;
  }

  .main-button-and-p {
    display: flex;
    align-items: center;
    width: 330px;
    text-align: start;
    margin: 0;
    padding-top: 44px;    
  }

  .div-main-lain-one-laters {
    height: 288px;
    margin-top: 75px;
  }

  .feature-ones {
    max-width: 100
    5;
  }

  .box-feature-one {
    max-width: 360px;;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-top: 48px;
    padding-bottom: 24px;
  }

  .box-feature-two {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-top: 48px;
    padding-bottom: 24px;
  }

  .box-feature-three {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-top: 48px;
    padding-bottom: 24px;
    max-width: 360px;
  }

  .feature-one {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }

  .feature-two {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }

  .feature-three {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }

  .feature-one-p {
    margin-top: 16px;
  }

  .feature-two-p {
    margin-top: 16px;
  }

  .feature-three-p {
    margin-top: 16px;
  }

  .img-blackside-1-1024px {
    display: none;
  }

  .img-blackside-1-1440px {
    display: inline;
    width: 503px;
    height: 428px;
  }

  .blackside-photo-latters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 96px;
  }

  .blackside-latters {
    display: flex;
    flex-direction: column;
    max-width: 503px;
  }

  .blackside-latters-p {
    padding: 0;
  }
  
  .div-h-blackside-1 {
    max-width: 503px;
  }

  .last-photo-1024px {
    display: none;
  }

  .last-photo-1440px {
    display: block;
    margin: auto;
  }

  footer {
    background-color: black;
    display: flex;
    flex-direction: row;
  }

  .footer-latters {
    justify-content: space-around;
    display: flex;
  }

  .last-h {
    color: white;
  }

  .last-p {
    color: grey;
    margin-top:24px;
  }

  .last-latter-footer {
    display: inline-block;
    margin-left: 130px;
  }
  
}
